# NGINX
NGINX_CONTAINER=<NOME_DO_CONTAINER>
PORTS_HTTP=80:80
PORTS_HTTPS=443:443
PORTS_WEB=81:81
IPV4_NGINX=<IP_DO_CONTAINER>

# Volume
VOL_NGINX_DATA=<CAMINHO_DA_PASTA>/data:/data
VOL_NGINX_LETSENCRYPT=<CAMINHO_DA_PASTA>/letsencrypt:/etc/letsencrypt

# MySQL for Nginx Proxy Manager
DB_MYSQL_HOST=<NOME_DO_SERVIDOR_DO_MYSQL>
DB_MYSQL_PORT=3306
DB_MYSQL_USER=npm
DB_MYSQL_PASSWORD=<SENHA_DO_MYSQL>
DB_MYSQL_NAME=<NOME_DO_BANCO_DE_DADOS>

# Date-time
VOL_TZ=/etc/timezone:/etc/timezone:ro
VOL_LOCALTIME=/etc/localtime:/etc/localtime:ro

# Network
SUBNET=<SUBNET>